Using KNN classification

Import Libraries

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Loading Dataset

In [9]:
df_clss = pd.read_csv('Ex1-Class-train-1.csv')
df_clss

         id     x1     x2 x3 x4 x5     x6     x7     x8     x9    x10  y
0    id-001  22.34   0.56  g  o  u   9.43  25.38 -20.91 -25.84   4.08  B
1    id-002  -2.31   7.36  i  p  y  -3.94    NaN  31.65  12.95   9.82  C
2    id-003 -17.55  -4.09  f  l  v -11.02  -1.77 -17.57  15.98  11.43  D
3    id-004 -13.54  -5.42  g  p  x   4.11   2.22  16.72   9.86  16.43  A
4    id-005  13.39  -3.20  i  l  v   2.23  11.76   1.34   4.16  -6.49  B
..      ...    ...    ... .. .. ..    ...    ...    ...    ...    ... ..
485  id-486  12.54   3.16  h  m  v  -3.49 -16.43  -3.70  -4.12  -2.83  D
486  id-487   8.10  -2.49  i  m  u -10.61  -1.63  -8.81  18.60  10.92  B
487  id-488  13.72 -10.59  i  m  y -32.73  -3.94    NaN   8.97  -8.30  C
488  id-489  -6.12  -6.37  e  m  u  22.34  -4.66 -10.86 -17.77  -0.21  C
489  id-490  -4.73 -10.89  g  n  x -20.01  16.22  -9.36   9.43  -2.02  B

[490 rows x 12 columns]

Exploratory Data Analysis

Check Missing Data

In [10]:
df_clss.isnull().sum()

id     10
x1     10
x2     10
x3     10
x4     10
x5     10
x6     10
x7     10
x8     10
x9     10
x10    10
y      10
dtype: int64

Since there is missing data, remove missing data

In [11]:
df_clss.dropna()
df_clss.isnull().sum()

id     10
x1     10
x2     10
x3     10
x4     10
x5     10
x6     10
x7     10
x8     10
x9     10
x10    10
y      10
dtype: int64