# Decision tree

Import

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Import Excel File

In [44]:
df = pd.read_excel('BankNote_Authentication.xlsx')
df

      variance  skewness  curtosis  entropy        class
0      3.62160   8.66610   -2.8073 -0.44699    authentic
1      4.54590   8.16740   -2.4586 -1.46210    authentic
2      3.86600  -2.63830    1.9242  0.10645    authentic
3      3.45660   9.52280   -4.0112 -3.59440    authentic
4      0.32924  -4.45520    4.5718 -0.98880    authentic
...        ...       ...       ...      ...          ...
1357   0.40614   1.34920   -1.4501 -0.55949  counterfeit
1358  -1.38870  -4.87730    6.4774  0.34179  counterfeit
1359  -3.75030 -13.45860   17.5932 -2.77710  counterfeit
1360  -3.56370  -8.38270   12.3930 -1.28230  counterfeit
1361  -2.54190  -0.65804    2.6842  1.19520  counterfeit

[1362 rows x 5 columns]

## Data Preprocessing

Check whether there are missing data or not

In [45]:
df.isnull().sum()

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

Check whether it is numerical data

In [46]:
df.dtypes

variance    float64
skewness    float64
curtosis    float64
entropy     float64
class        object
dtype: object

Since we have 1 column which is not numerical, we need to change it

In [47]:
# 0 is authentic, 1 is counterfeit

df['class'] = df['class'].str.replace('authentic', '0')
df['class'] = df['class'].str.replace('counterfeit', '1')
df['class'] = df['class'].astype(int)

df

      variance  skewness  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1357   0.40614   1.34920   -1.4501 -0.55949      1
1358  -1.38870  -4.87730    6.4774  0.34179      1
1359  -3.75030 -13.45860   17.5932 -2.77710      1
1360  -3.56370  -8.38270   12.3930 -1.28230      1
1361  -2.54190  -0.65804    2.6842  1.19520      1

[1362 rows x 5 columns]

## Training

In [48]:
X = df.iloc[:,0:4]
y = df.iloc[:,-1]

print(X)

      variance  skewness  curtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1357   0.40614   1.34920   -1.4501 -0.55949
1358  -1.38870  -4.87730    6.4774  0.34179
1359  -3.75030 -13.45860   17.5932 -2.77710
1360  -3.56370  -8.38270   12.3930 -1.28230
1361  -2.54190  -0.65804    2.6842  1.19520

[1362 rows x 4 columns]

Split the data into train and variation

In [49]:
#Preparing the model
from sklearn.model_selection import train_test_split, KFold
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.20, random_state = 99)

Hyperparameter Tuning

In [50]:
#cv = KFold(n_splits=10, random_state=1, shuffle=True)

from sklearn.tree import DecisionTreeClassifier
dc = DecisionTreeClassifier()
dc = dc.fit(X_train, y_train)

y_pred = dc.predict(X_test)
y_pred

array([1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0])

## Model evaluation

In [51]:
import sklearn.metrics as metrics

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.989010989010989

# New Data

In [52]:
newDf = pd.read_excel('New_data.xlsx')
newDf

   variance  skewness   curtosis  entropy        class
0 -2.215300   11.9625   0.078538 -7.78530    authentic
1  2.126500    6.8783   0.447840 -2.22240    authentic
2  0.007125    8.3661   0.507810 -3.81550    authentic
3  2.289300    3.7330   0.631200 -0.39786    authentic
4  4.339800   -5.3036   3.880300 -0.70432    authentic
5 -5.441400    7.2363   0.109380 -7.56420  counterfeit
6 -4.124400    3.7909  -0.653200 -4.18020  counterfeit
7 -4.195800   -8.1819  12.129100 -1.60170  counterfeit
8 -0.878340    3.2570  -3.677800 -3.29440  counterfeit
9 -0.898090   -4.4862   2.200900  0.50731  counterfeit

In [53]:
X = newDf.iloc[:,0:4]
y = newDf.iloc[:,-1]

print(X)

      variance  skewness  curtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1357   0.40614   1.34920   -1.4501 -0.55949
1358  -1.38870  -4.87730    6.4774  0.34179
1359  -3.75030 -13.45860   17.5932 -2.77710
1360  -3.56370  -8.38270   12.3930 -1.28230
1361  -2.54190  -0.65804    2.6842  1.19520

[1362 rows x 4 columns]